extends ../layout.pug

block title
	+title(dateFormat(today, 'mmmm dS'), 'Schedule')

block content
	div.row
		div.col-12.pb-3
			+scheduleNav(yesterday, today, tomorrow)

		each game in games
			+gameCard(game)
