extends ../layout.pug

block title
	+title(dateFormat(today, 'mmmm dS'), 'Schedule')

block content
	div.row
		div.col-12.pb-3
			+scheduleNav(yesterday, today, tomorrow)

		if games.length == 0
			h4.col-12.text-center No games scheduled for #{dateFormat(today, 'mmmm dS')}.
		else
			each game in games
				+gameCard(game)
