doctype html
html(lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml')
	head
		script(async=true src='https://www.googletagmanager.com/gtag/js?id=UA-140416834-1')
		script
			| window.dataLayer = window.dataLayer || [];
			| function gtag(){dataLayer.push(arguments);}
			| gtag('js', new Date());
			| gtag('config', 'UA-140416834-1');

		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='google' content='notranslate')

		title Summer Classics &laquo; Coinflipper

		block styles
			link(href='/css/bootstrap.min.css' rel='stylesheet')
			link(href='/css/classics.css' rel='stylesheet')

		block scripts
			script(src='/js/jquery.min.js' type='text/javascript')
			script(src='/js/bootstrap.min.js' type='text/javascript')
			script(src='/js/classics.js' type='text/javascript')

		link(href='/images/favicon.ico' rel='icon')

	body
		nav.navbar.navbar-expand-md.navbar-light.bg-light.mb-3
			a.navbar-brand(href='/')
				img.mr-2(src='/images/logo.png' height='30')
				strong.align-middle Summer Classics

		div.container.pb-3
			h1 Under Maintenance
			p Summer Classics is currently undergoing maintenance in preparation for the 2020 baseball season. Expect to hear from Patrick very soon about signing up!
