extends layout.pug

block title
	+title('Big Board')

block content
	div.row
		each game in games
			div.col-xs-12.col-sm-6.col-md-3
				h6 #{dateFormat(game.startTime, 'mmmm dS', true)} at #{dateFormat(game.startTime, 'h:MMtt')} ET
				h5 #{game.away.team.teamName} at #{game.home.team.teamName}
