include mixins.pug

doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

		block title

		block styles
			link(href='/css/bootstrap.min.css' rel='stylesheet')
			link(href='/css/classics.css' rel='stylesheet')

		block scripts
			script(src='/js/jquery.min.js' type='text/javascript')
			script(src='/js/bootstrap.min.js' type='text/javascript')
			script(src='/js/classics.js' type='text/javascript')

		link(href='/images/favicon.ico' rel='icon')

	body
		-
			var navItems = [];

			navItems.push({ name: 'Schedule', href: '/schedule' });
			navItems.push({ name: 'Standings', href: '/standings', });

			if (session) {
				navItems.push({ name: 'Picks', href: '/picks' });
				navItems.push({ name: 'Settings', href: '/users/edit/' + session.username });
				navItems.push({ name: 'Log Out', href: '/logout' });
			}
			else {
				navItems.push({ name: 'Log In', href: '/login' });
			}

		nav.navbar.navbar-expand-md.navbar-light.bg-light
			a.navbar-brand(href='/')
				img.d-inline-block.align-top(src='http://coinflipper.org/logo.png' height='30')
				|
				| Summer Classics
			button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav')
				span.navbar-toggler-icon
			div.collapse.navbar-collapse#navbarNav
				ul.navbar-nav
					each navItem in navItems
						li.nav-item
							a.nav-link(href=navItem.href) #{navItem.name}

		//-
			if session && session.user.admin
				div.container.pb-3
					div.d-block.d-sm-none xs
					div.d-none.d-sm-block.d-md-none sm
					div.d-none.d-md-block.d-lg-none md
					div.d-none.d-lg-block.d-xl-none lg
					div.d-none.d-xl-block xl

		div.container.pb-3
			block content
