doctype html
html
	head
		title Summer Classics &laquo; Coinflipper

		link(href='/css/bootstrap.min.css' rel='stylesheet')

		script(src='/js/jquery.min.js' type='text/javascript')
		script(src='/js/bootstrap.min.js' type='text/javascript')

		link(href='/images/favicon.ico' rel='icon')

	body
		div.jumbotron.col-8.offset-2
			h1.display-4 Summer Classics!
			p.lead This is going to be an excellent game. Really the greatest the nation has ever seen, maybe even the best the world has ever seen. Just tremendous.
			hr.my-4
			p.lead For real, gonna be good.

		div.col-8.offset-2
			each game in games
				div.col-8
					h6 #{dateFormat(game.startTime, 'mmmm dS', true)}
					h5 #{game.away.team.teamName} at #{game.home.team.teamName}
