doctype html
html
	head
		title Summer Classics &laquo; Coinflipper

		link(href='/css/bootstrap.min.css' rel='stylesheet')

		script(src='/js/jquery.min.js' type='text/javascript')
		script(src='/js/bootstrap.min.js' type='text/javascript')

		link(href='/images/favicon.ico' rel='icon')

	body
		h1 Summer Classics!
