a.team-button, a.team-button2, button.btn {
	line-height: 0.9;
}

.game-status {
	font-size: 80%;
}

.record {
	font-size: 80%;
}

.pitcher {
	font-size: 70%;
}

.score {
	font-size: 80%;
}

.picks {
	font-size: 80%;
	line-height: 1.1;
}

th.team {
	line-height: 1.0rem;
}

th.team span.record {
	font-weight: normal;
}

div.team.picked a.team-button.pick,
div.team.unpicked a.team-button.unpick {
	display: none;
}

.bg-light-gray {
	background-color: #eaeaea !important;
}
