.game-status {
	font-size: 80%;
}

.record {
	font-size: 80%;
}

.pitcher {
	font-size: 70%;
}

.score {
	font-size: 80%;
}

th.team {
	line-height: 1.0rem;
}

th.team span.record {
	font-weight: normal;
}
