extends ../layout.pug

block title
	+title('Log In')

block content
	form.col-12.col-md-8.col-lg-6.col-xl-4(action='/login' method='POST')
		if error
			div.alert.alert-danger(role='alert') #{error.message}

		div.form-group
			label(for='username') Username
			input.form-control(type='text' id='username' name='username')

		div.form-group
			label(for='password') Password
			input.form-control(type='password' id='password' name='password')

		button.btn.btn-primary(type='submit') Log In
